.ios, .md {
    image-modal {
        .mood-picture {
            padding-top: 5rem;  
        }

        ion-content {
            background-color: #D99862; 
        }

        .share-image .item-md {
            padding-bottom: 2rem; 
            background-color: transparent;
        }

        .share-image .select-text {
            color: #fff; 
        }

        .select-md .select-icon .select-icon-inner {
            color: #fff;
   
        }

        .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
            color: #fff;
        }
    }
}