<ion-content padding  scrollbar-y-auto>

    <div class="welcome-box">
        <h2 *ngIf="userName">Hi {{ userName }} </h2>
    </div>

    <div *ngIf="showMoodBox" class="mood-box">
        <p>How are you today?</p>
        <p>Feel like sharing your mood?</p>

        <div class="mood-button">
            <button ion-button (click)="loadMoodRate()">Yes</button>
            <button ion-button (click)="hideMoodBox()">No</button>
        </div>
    </div>

    <p class="date-box"> {{ date | formatDate }} </p>



</ion-content>

<ion-footer>
    <button ion-button full (click)="logOutUser()">Logout</button>
</ion-footer>