<ion-header>
    <ion-navbar color="primary">
        <ion-buttons start>
            <button ion-button icon-only menuToggle start>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content scrollbar-y-auto color="bgLight">

    <div class="welcome-box">
        <h2 *ngIf="userName">Hi {{ profileData?.name }} </h2>
    </div>

    <div class="mood-box"
        [ngClass]="{'fadeOut': !showMoodBox}">
        <p>How are you today?<br>
        Feel like sharing your mood?</p>

        <div class="mood-button">
            <button ion-button color="secondary" [ngClass]="{'slide-big': shakeButton}" 
            (click)="loadMoodRate()">Yes</button>
            <button ion-button color="secondary" (click)="hideMoodBox()">No</button>
        </div>
    </div> 

    <!-- <countdown #countdown></countdown> -->

    <!--<ion-scroll style="width:100%;height:275px" scrollY="true">-->
        <ion-list class="notifications"> 

                <ion-list-header>
                    Notifications 
                </ion-list-header>

                <button ion-button color="secondary" 
                (click)="loadGifPage()">Click here
                </button>

                <ion-item-sliding *ngFor="let notification of receivedNotifications | async">
                    <ion-item (click)="openBoostRequest(notification)">
                        <ion-avatar item-start>
                            <img [src]="notification.sentByProfileImage">
                        </ion-avatar>
                        <h2>{{ notification.timestamp | formatTimestamp }}</h2>
                        <p>{{ notification.body }}</p>
                    </ion-item>

                    <ion-item-options side="right">
                        <button ion-button danger (click)="removeNotification(notification)"><ion-icon name="trash"></ion-icon>Decline</button>
                    </ion-item-options>
                </ion-item-sliding>
        </ion-list>
    <!-- </ion-scroll> -->

    <!-- <p class="date-box"> {{ date | formatDate }} </p>   -->
</ion-content>