.ios, .md {
    
    page-dashboard {

        background-color: color($colors, bgDark);

        ion-list-header {
            background-color: #FBFBFB;
        }

        ion-item {
            background-color: #FFFCF5; 
        }

        .welcome-box {
            padding-top: 20px; 
            margin: auto;
            padding-bottom: 20px; 
        }

        .welcome-box h2 {
            font-weight: bold;
            text-align: center;
            color: #C8C9CD;
            font-family: 'montserrat-bold';
        }

        .mood-box {
            margin: auto;
            padding-bottom: 20px; 
        }

        .mood-box p {
            text-align: center;
            font-size: 18px;
            color: #C8C9CD;
            font-family: 'montserrat-regular';
        }

        .mood-button {
            text-align: center; 
        }

        .date-box {
            text-align: center; 
            font-weight: bold; 
            font-size: 1.3em; 
        }

        .fadeOut {
            transition: all 0.5s linear; 
            display: none;  
        }

         @-webkit-keyframes slideBig {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.2);
            }
            100% {
              transform: scale(1); 
            }
         }

         .slide-big {
             animation-name: slideBig;
             animation-duration: 2.1s; 
             animation-iteration-count: infinite;
         }
        
    }
} 
