<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button icon-only menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding scrollbar-y-auto>
    <div *ngIf="fetchingData" class="fetching">
        <ion-spinner color="bgLight"></ion-spinner>
    </div>
    
    <div *ngIf="!noData" text-center class="profile-box">
        <img class="profile-image"
       [src]="profileData?.profileImage"> 
    
        <form [formGroup]="userForm">
            <ion-list class="item item-trns">
                <ion-item class="item item-trns">
                    <ion-input formControlName="name" type="text" [(ngModel)]="profileData.name"></ion-input>
                </ion-item>

                 <ion-item class="item item-trns">
                    <ion-input formControlName="email" type="email" [(ngModel)]="profileData.email"></ion-input>
                </ion-item>

                 <ion-item class="item item-trns">
                    <ion-label class="item item-trns">Birthday:</ion-label>
                    <ion-datetime  displayFormat="DD MMM YYYY" formControlName="birthday" type="date" [(ngModel)]="profileData.birthday"></ion-datetime>
                </ion-item>
            </ion-list>
            <button ion-button color="colorWhite" type="submit" 
            (click)="updateProfile()"[disabled]="!userForm.valid">Update Profile</button>
        </form> 
    </div>
</ion-content>