<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button icon-only menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding scrollbar-y-auto>
    <div text-center class="profile-box">
       <img class="profile-image" *ngIf="profileData.profileImage" 
       src="{{ profileData.profileImage }}"> 
        
        
        <form [formGroup]="userForm">
            <ion-list class="item item-trns" >
                <ion-item no-lines class="item item-trns">
                    <ion-input *ngIf="profileData.name">{{ profileData.name | async | json }}</ion-input>
                    <ion-icon *ngIf="userForm.valid" name="checkmark" item-right></ion-icon>
                </ion-item>

                <ion-item no-lines class="item item-trns">
                    <ion-input *ngIf="profileData.email">{{ profileData.email }}</ion-input>
                    <ion-icon *ngIf="userForm.valid" name="checkmark" item-right></ion-icon>
                </ion-item>

                <ion-item no-lines class="item item-trns">
                    <ion-label class="item item-trns">Birthday:</ion-label>
                    <ion-icon *ngIf="userForm.valid" name="checkmark" item-right></ion-icon>
                    <ion-datetime displayFormat="DD MMM YYYY" placeholder="dd/mmm/yyyy" formControlName="birthday"></ion-datetime>
                </ion-item>
                
            </ion-list>
            <button ion-button color="colorWhite" type="submit" (click)="updateProfile()"[disabled]="!userForm.valid">Update Profile</button>
        </form> 
    </div>
</ion-content>