<ion-menu [content]="nav">
    <ion-header>
        <ion-toolbar>
            <ion-title center>Menu</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content color="bgLight" padding scrollbar-y-auto>
        
        <user-info></user-info>
       
        <ion-list>
            <button
                ion-item
                (click)="loadPage('dashboard')">
                Dashboard
            </button> 

            <button
                ion-item
                (click)="loadPage('profile')">
                Profile 
            </button>

             <!--<button
                ion-item
                (click)="loadPage('words')">
                Learn Words  
            </button>-->

              <button
                ion-item
                (click)="logOutUser()">
                Logout  
            </button>
        </ion-list>
    </ion-content>

    <ion-footer>
    <div *ngIf="!noData" >
        <div *ngIf="correctTilburgTime && fetchedTilburgData" class="time">
         {{ correctTilburgTime }}
        </div>
        <div *ngIf="fetchingData" class="fetching-time">
            <ion-spinner></ion-spinner>
        </div>
        <div *ngIf="correctTilburgDate && fetchedTilburgData" class="date">
         {{ correctTilburgDate }}
        </div>

         <div *ngIf="correctYogjaTime && fetchedYogjaData" class="time">
         {{ correctYogjaTime }}
        </div>

        <div *ngIf="correctYogjaDate && fetchedYogjaData" class="date">
         {{ correctYogjaDate }}
        </div>
    </div>
        <ion-list>
            <ion-item>
            <ion-label>Choose city</ion-label>
            <ion-select 
                (ionChange)="cityChange($event)">
                <ion-option value="Yogja">Yogyakarta</ion-option>
                <ion-option value="Tilburg">Tilburg</ion-option>
            </ion-select>
            </ion-item>
        </ion-list>
    </ion-footer>
</ion-menu>

<ion-nav [root]="profile" #nav></ion-nav>
