// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

[scrollbar-y-auto] .scroll-content {
  overflow-y: auto !important;
}

.bgDark {
  background: #B26E63;
}

.time {
  text-align: center; 
  padding-top: 25px;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.date {
  text-align: center;
  padding-bottom: 5px;
  font-weight: bold;
}

.city {
  text-align: center;
  padding-bottom: 25px;
  font-weight: bold;
}

.fetching-time {
  width: 100%;
  text-align: center;
  padding-top: 0x;
}

// FONTS
@font-face {
  font-family: 'montserrat-bold';
  font-style: normal;
  font-weight: 700; 
  src: url('../assets/fonts/montserrat-bold.woff2');
}

@font-face {
  font-family: 'montserrat-regular';
  font-style: normal;
  font-weight: 400; 
  src: url('../assets/fonts/montserrat-regular.woff2');
}

// ANIMATION FOR SLIDING DIRECTIVE ///
@-webkit-keyframes slidingAnimation {
  0% {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }
 
  50% {
    transform: translate3d(-70px,0,0);
    -webkit-transform: translate3d(-70px,0,0);
  }
 
  100% {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }
}
 
.itemSlidingAnimation {
    -webkit-animation: slidingAnimation;
    animation: slidingAnimation;
    -webkit-animation-duration: 1000ms;
    animation-duraton: 1000ms;
}