<ion-content [style.background-color]="moodColor" padding scrollbar-y-auto>
  
  <div class="text-box">
    <h4>{{ welcomeMessage }}</h4>
    
    <h5>Your mood is {{ moodRating }}%</h5>

    <h4>{{ closingMessage }}</h4>
  </div>

  <button *ngIf="showCamera == true" ion-button outline color="colorWhite"  (click)="takePicture()">
  Sure!
  </button>


  <button *ngIf="shareMood == true" ion-button outline color="colorWhite" (click)="giveBoost()">
  Ask for a boost!
  </button>

  <img *ngIf="currentImage" [src]="currentImage | safePipe: 'url'"
  style="width: 100%" [hidden]="currentImage === null">
  
</ion-content>

<ion-footer>
  <ion-navbar [style.background-color]="moodColor">
    <ion-title (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
      No thanks</ion-title>
  </ion-navbar>
</ion-footer>